*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #eef4fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main{
    height: auto;
    width: 60%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 0px;
    margin-top: 20px;
}
.content {
    height: auto;
    width: 60%;
    background-color: #ffffff;
    color: #788188;
    padding: 15px 10px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.75);
}
.content-item {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    word-spacing: 2px;
    letter-spacing: 1px;
    cursor: pointer;
}
.content-xtraitem {
    border-top: 0.1px solid grey;
    padding-top: 15px;
    margin-top: 10px;
    width: 90%;
    display: none;
}
button{
    border: none;
    cursor: pointer;
}
.minus {
    display: none;
}
h1{
    color: #b59569;
    font-size: 40px;
    font-style: italic;
}